# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# VSCode / IDE Dateien
.vscode/
.idea/

# Environment Variables / Secrets
.env
.env.*     # z.B. .env.local, .env.production

# Flask / Logs
instance/
*.log
flask_session/

# OS-Dateien
.DS_Store
Thumbs.db

# Pytest / Coverage
htmlcov/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# SQLite Database Files
*.db
*.sqlite
*.sqlite3
