{% extends "base.html" %}

{% block content %}
    <header>
        <img src="{{ url_for('static', filename='images/htlwy_logo.svg') }}" alt="HTLWY Logo" width="100" height="100">
        <h1>TISCHTENNIS RANGLISTE</h1>
    </header>
    <main>
        <div class="pyramide">
            <div class="ball">
                <p>HERAUS FORDERN</p>
                <img src="{{ url_for('static', filename='images/ball_star.svg') }}">
            </div>
            <div class="menu">
                <img src="{{ url_for('static', filename='images/report.svg') }}">
                <img src="{{ url_for('static', filename='images/user.svg') }}">
                <img src="{{ url_for('static', filename='images/rules.svg') }}">
            </div>
            <svg id="svg"></svg>
        </div>
        <div class="side-menu">
            <div class="headline-container">
                <h2 id="player-name">{{current_player.firstname}} {{current_player.lastname}}</h2>
            </div>
            <div class="table-container">
                <div class="column1">
                    <h4>GEWONNENE SPIELE</h4>
                    <h3 id="total-wins">{{current_player.total_wins}}</h3>
                    <h4>AKTUELLE PLATZIERUNG</h4>
                    <h3 id="current-rank">#{{current_player.current_rank}}</h3>
                    <h4>SIEGERQUOTE</h4>
                    <h3 id="win-rate">{% if (current_player.total_wins + current_player.total_losses) > 0 %}{{(current_player.total_wins / (current_player.total_wins + current_player.total_losses) * 100) | round(2)}}%{% else %}0%{% endif %}</h3>
                </div>
                <div class="column2">
                    <h4>VERLORENE SPIELE</h4>
                    <h3 id="total-losses">{{current_player.total_losses}}</h3>
                    <h4>HÖCHSTE PLATZIERUNG</h4>
                    <h3 id="highest-rank">#{{current_player.highest_rank}}</h3>
                    <h4>INFORMATIONEN</h4>
                    <div>
                        <p id="player-class">{{ current_player.class_ }}</p>
                        <p id="player-email">{{ current_player.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        const TOTAL_PLAYERS = {{ total_players }};
        const CURRENT_USER_RANK = {{ current_player.current_rank }};
    </script>
    <script src="{{ url_for('static', filename='js/pinchzoompanPyramid.js') }}"></script>
{% endblock %}